@font-face {
	font-family: GraphikLC-Light;
	src: url("../fonts/GraphikLC-Light.woff") format("woff"), url("../fonts/GraphikLC-Light.woff2") format("woff2");
	font-weight: "normal";
	font-style: "normal";
	font-display: "swap";
}
@font-face {
	font-family: GraphikLC-Regular;
	src: url("../fonts/GraphikLC-Regular.woff") format("woff"), url("../fonts/GraphikLC-Regular.woff2") format("woff2");
	font-weight: "normal";
	font-style: "normal";
	font-display: "swap";
}
@font-face {
	font-family: GraphikLC-Semibold;
	src: url("../fonts/GraphikLC-Semibold.woff") format("woff"), url("../fonts/GraphikLC-Semibold.woff2") format("woff2");
	font-weight: "normal";
	font-style: "normal";
	font-display: "swap";
}
