.footer {
   padding: 40px 0;
   font-size: 14px;
   text-transform: uppercase;
   @media (max-width: $max1140) {
      font-size: 12px;
   }
   @media (max-width: $max768) {
      font-size: 10px;
   }
   &__blocks {
      display: flex;
      align-items: flex-start;
      @media (max-width: $max768) {
         flex-direction: column;
         > * {
            margin-bottom: 40px;
         }
      }
   }

   // .footer__block

   &__block-hello {
      display: flex;
      align-items: center;
      flex: 1 1 50%;
      @media (max-width: $max768) {
         flex-direction: column;
         align-items: flex-start;
         // margin-bottom: 40px;
      }
   }

   // .footer__logo

   &__logo {
      margin-right: 16px;
      height: 42px;
   }

   &__logo-img {
      width: 80px;
      height: 100%;
      object-fit: contain;
   }
   // .footer__logo-link

   &__logo-link {
   }

   // .footer__logo-img

   // .footer__call

   &__call {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   // .footer__tel

   &__tel {
      font-size: 28px;
      @media (max-width: $max1140) {
         font-size: 24px;
      }
   }

   // .footer__call-text

   &__call-text {
      letter-spacing: -0.2px;
   }

   // .footer__columns

   &__columns {
      display: flex;
      justify-content: space-between;
      flex: 1 1 50%;
      @media (max-width: $max768) {
         width: 100%;
         
         // margin-bottom: 40px;
      }
   }

   // .footer__column

   &__column {
      &:not(:last-child){
         margin-right: 20px;
      }
      &:last-child {
         & .footer__link {
            &::after {
               content: url(../img/icons/arrow_footer.svg);
               margin-left: 10px;
               @media (max-width: $max768) {
                  margin-left: 4px;
               }
            }
         }
      }
   }

   // .footer__list

   &__list {
   }

   // .footer__list-item

   &__list-item {
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }

   // .footer__link

   &__link {
      display: flex;
      align-items: center;
      transition: $transitionLate;
      &:hover {
         color: #4cc7e9;
         transition: $transition;
      }
      
   }

   // .footer__copyright

   &__copyright {
   }
}
