.header {
   position: fixed;
   top: 0;
   width: 100%;
   height: auto;
   margin: 0 auto;
   padding: 20px 0;
   font-size: 20px;
   line-height: 100%;
   color: $white;
   background: #ffffff00;
   transition: $transition;
   z-index: 100;

   @media (max-width: $max1920) {
      font-size: 16px;
   }
   @media (max-width: $max1280) {
      padding: 8px 0;
   }
   &.active {
      color: $blackLight;
      background: $white;
      transition: $transition;
      & .header__burger-line {
         background: $blackLight;
         transition: $transition;
      }
   }
   &:hover {
      color: $blackLight;
      background: $white;
      transition: $transition;
      & .header__burger-line {
         background: $blackLight;
         transition: $transition;
      }
   }

   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      z-index: 99;
   }
   &__link {
   }
   &__link-logo {
   }
   &__logo {
      width: 192px;
      height: auto;
      @media (max-width: $max1280) {
         width: 126px;
      }
   }

   &__mob-header,
   &__mob-logo,
   &__mob-link {
      display: none;
      @media (max-width: $max1280) {
         display: block;
      }
      &:hover {
         // color: $gold;
      }
   }
   &__mob-logo {
      padding: 10px 0;
   }
   &__mob-link {
      padding: 10px 0;
      &:hover {
         color: $gold;
      }
   }
   &__menu {
      z-index: -99;
      width: 100%;
      @media (max-width: $max1280) {
         position: absolute;
         top: 50px;
         left: 0;
         width: auto;
         padding: 12px 16px;
         font-size: 20px;
         background: $white;
         border-radius: 2px;
         transform: translate(0, calc(-100% + -50px));
         transition: transform 0.4s ease-in-out .1s, opacity 0.3s ease ;
         opacity: 0;
         &.active {
            transform: translate(0, 0);
            transition: transform 0.3s ease-in-out, opacity 0.4s ease 0.1s;
            opacity: 1;
         }
      }
   }
   &__contacts {
      display: flex;
      @media (max-width: $max1280) {
         display: none;
      }
      &-mob {
         @media (max-width: $max1280) {
            display: block;
         }
      }
   }
   &__contact {
      @media (max-width: $max1280) {
         padding: 10px 0;
      }
      &:not(:first-child) {
         margin-left: 28px;
         @media (max-width: $max1280) {
            margin-left: 0;
         }
      }
      &:hover {
         color: $gold;
      }
   }
   &__contact-link {
      display: flex;
      align-items: center;
   }
   &__contact-text {
      padding-left: 8px;
   }

   &__tel {
   }

   &__audition {
   }

   &__communications {
      display: flex;
      align-items: center;
   }

   &__communication {
      display: flex;
      align-items: center;
      margin-left: 24px;
      &:hover {
         color: $gold;
      }
   }

   &__communication-link {
      display: flex;
      align-items: center;
   }

   &__search {
   }
   &__form-search {
      width: 0;
      overflow: hidden;
   }

   &__search--form {
   }
   &__basket {
   }

   &__user {
   }

   &__burger {
      position: relative;
      // top: 0;
      // right: -30px;
      height: 16px;
      width: 30px;
      justify-content: center;
      align-items: center;
      display: none;
      @media (max-width: $max1280) {
         display: flex;
      }
   }

   &__burger-line {
      display: none;
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background: $white;
      transition: $transition;
      &:hover {
         background: $blackLight;
      }
      &:first-child {
         top: 0;
         transform: rotate(0deg) translate(0, 0);
      }
      &:last-child {
         bottom: 0;
         transform: rotate(0deg) translate(0, 0);
      }
      @media (max-width: $max1280) {
         display: block;
      }
   }
}
.menu {
   display: flex;
   justify-content: space-evenly;

   @media (max-width: $max1280) {
      flex-direction: column;
   }
   &__items {
      @media (max-width: $max1280) {
         padding: 10px 0;
      }
   }
   &__item {
      white-space: nowrap;
      cursor: pointer;
      &:hover {
         color: $gold;
         transition: $transition;
      }
   }
   &__submunu {
      display: none;
      height: 0px;
   }
   &__link {
   }
}
