.news {
   padding: 80px 0 40px;
   @media (max-width: $max1280) {
      padding-top: 40px;
   }
   @media (max-width: $max600) {
      padding-top: 20px;
   }
   &__wrapper {
   }

   // .news__header

   &__header {
   }

   // .news__title

   &__title {
   }

   // .news__link

   &__link {
   }

   // .news__slider

   &__slider {
   }

   // .news__slider-wrapper

   &__slider-wrapper {
   }

   // .news__slide

   &__slide {
   }

   // .news__slide-img

   &__slide-img {
   }

   // .news__data

   &__data {
   }

   // .news__day

   &__day {
   }

   // .news__month

   &__month {
   }

   // .news__year

   &__year {
   }

   // .news__text

   &__text {
   }
}
