.portfolio {
   padding: 80px 0 40px;
   @media (max-width: $max1280) {
      padding-top: 40px;
   }
   @media (max-width: $max600) {
      padding-top: 20px;
   }
   &__wrapper {
   }

   &__header {
   }

   &__slider {
   }

   &__slide {
      
   }

   &__slide-link {
   }

   &__slide-img {
      
   }

   &__slide-title {
   }

   &__slide-text {
   }

   &__battons {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      @media (max-width: $max1280) {
         flex-direction: column;
      }
   }

   &__btn {
      @media (max-width: $max1280) {
         width: 100%;
      }
      &:not(:first-child) {
         margin: 0 0 0 40px;
         @media (max-width: $max1280) {
            margin: 20px 0 0 0;
         }
      }
   }
}
