.product {
   padding-top: 80px;
   @media (max-width: $max1140) {
      padding-top: 40px;
   }
   &__header {
      margin-bottom: 20px;
      @media (max-width: $max1140) {
         margin-bottom: 10px;
      }
   }

   &__title {
      font-size: 36px;
      line-height: 43/36 * 100%;
      @media (max-width: $max1140) {
         font-size: 24px;
      }
   }

   &__content {
      display: flex;
      @media (max-width: $max768) {
         flex-direction: column;
         align-items: center;
      }
   }

   &__img-block {
      width: 50%;
      max-width: 550px;
      max-height: 400px;
      display: flex;
      padding-right: 60px;
      @media (max-width: $max768) {
         width: 100%;
         padding: 0 0 20px 0;
      }
   }

   &__img {
      width: 100%;
      height: 100%;
      // max-height: 400px;
      object-fit: cover;
   }

   &__description-block {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      > *:not(:last-child) {
         margin-bottom: 40px;
      }
      @media (max-width: $max1140) {
         > *:not(:last-child) {
            margin-bottom: 20px;
         }
      }

      @media (max-width: $max768) {
         width: 100%;
      }
   }

   &__text {
      font-size: 18px;
      line-height: 150%;
      text-align: justify;
      @media (max-width: $max1140) {
         font-size: 12px;
      }
   }

   &__colors {
      display: flex;
      text-transform: uppercase;
      @media (max-width: $max768) {
         width: 100%;
         justify-content: space-between;
         order: -1;
      }
   }

   &__color {
      transition: $transitionLate;
      border: 1px solid #000;
      &:not(:last-child) {
         margin-right: 10px;
      }

      &:hover,
      &.active {
         transition: $transitionFast;
         background: #000;
         color: white;
         border: 1px solid white;
      }
      @media (max-width: $max768) {
         width: 100%;
      }
   }

   &__color-link {
      padding: 10px 20px;
      font-size: 14px;
      @media (max-width: $max1140) {
         font-size: 12px;
      }
      @media (max-width: $max768) {
         display: block;
         padding: 10px 4px;
         text-align: center;
      }
   }

   &__btn {
      color: #fff;
      background: #0e0e0e;
      padding: 16px 64px;
      transition: $transitionLate;
      font-size: 14px;
      line-height: 100%;
      &::before {
         content: url(../img/icons/bag.svg);
         margin-right: 6px;
         transform: translate(0, -1px);
      }
      &:hover {
         background: #2f80ed;
         transition: $transitionFast;
      }
      @media (max-width: $max1140) {
         font-size: 12px;
         padding: 10px 64px;
      }
      @media (max-width: $max768) {
         width: 100%;
      }
   }
}
