.quote {
   padding: 80px 0 40px;
   @media (max-width: $max1280) {
      padding-top: 40px;
   }
   @media (max-width: $max600) {
      padding-top: 20px;
   }
   &__wrapper {
      display: flex;
      @media (max-width: $max600) {
         flex-direction: column;
      }
   }

   &__img-block {
      flex: 0 0 calc(500 / 1200 * 100%);
      @media (max-width: $max1280) {
         flex: 0 0 50%;
      }
   }
   &__img {
      width: 100%;
      object-fit: cover;
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 80px 40px;
      color: $blackLight;
      background: $gold;
      @media (max-width: $max1280) {
         padding: 24px;
      }
      @media (max-width: $max600) {
         padding: 12px;
      }
   }

   &__text {
      color: inherit;
      font-size: 32px;
      line-height: 24/16 * 100%;
      @media (max-width: $max1280) {
         font-size: 16px;
      }
   }

   &__name {
      margin-top: 20px;
   }

   // .quote__title

   &__title {
      color: inherit;
      font-size: 32px;
      line-height: 100%;
      @media (max-width: $max1280) {
         font-size: 24px;
      }
   }

   // .quote__position

   &__position {
      color: inherit;
      font-size: 20px;
      line-height: 30/20 * 100%;
      @media (max-width: $max1280) {
         font-size: 16px;
      }
   }
}
