.reviews {
   padding: 80px 0 40px;
   @media (max-width: $max1280) {
      padding-top: 40px;
   }
   @media (max-width: $max600) {
      padding-top: 20px;
   }
   &__wrapper {
   }

   &__slider {
   }
   &__slider-wrapper {
   }
   &__slide {
      display: flex;
      height: initial;
      @media (max-width: $max600) {
         flex-direction: column;
      }
   }

   &__img-block {
      flex: 0 0 calc(300 / 860 * 100%);
   }

   &__slide-img {
      width: 100%;
      object-fit: cover;
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      // max-height: 300px;
      padding: 20px;
      color: $black;
      background: $greyLight;
      @media (max-width: $max1280) {
         padding: 12px;
      }
      @media (max-width: $max600) {
         padding: 8px;
      }
   }

   &__name {
      margin-top: 20px;
   }
   &__slide-title {
      color: $gold;
      font-size: 32px;
      line-height: 100%;
      @media (max-width: $max1920) {
         font-size: 24px;
      }
   }
   &__slide-text {
      font-size: 20px;
      line-height: 30/20 * 100%;
      @media (max-width: $max1920) {
         font-size: 16px;
      }
   }
   &__slide-position {
      font-size: 20px;
      line-height: 30/20 * 100%;
      @media (max-width: $max1920) {
         font-size: 16px;
      }
   }
}
