.subscribe {
   font-size: 20px;
   line-height: 100%;
   padding: 80px 0 40px;
   @media (max-width: $max1920) {
      font-size: 16px;
   }
   @media (max-width: $max1280) {
      padding-top: 40px;
   }
   @media (max-width: $max600) {
      padding-top: 20px;
   }
   &__wrapper {
      padding: 40px;
      background: $greyLight;
      @media (max-width: $max1280) {
         padding: 20px;
      }
   }
   &__header {
      justify-content: center;
   }
   &__title {
      text-align: center;
   }

   &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   // .subscribe__respect
}
.form {
   color: $blackLight;
   font-size: inherit;
   &__row {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      color: $grey;
      @media (max-width: $max1280) {
         margin-bottom: 20px;
      }
   }
   // .form__label

   &__label {
      color: inherit;
      margin-right: 36px;
      white-space: nowrap;
      @media (max-width: $max600) {
         margin-right: 20px;
      }
   }

   // .form__email

   &__email {
      width: 100%;
      min-width: 260px;
      color: inherit;
      padding: 4px;
      // border-bottom: 1px solid $grey;
      @media (max-width: $max600) {
         min-width: 160px;
      }
   }
   &__bottom-wrapper {
      position: relative;
      &::after {
         position: absolute;
         content: "";
         bottom: -8px;
         width: 100%;
         height: 1px;
         background: $grey;
         @media (max-width: $max1280) {
            bottom: -4px;
         }
      }
   }

   &__btm {
   }
   &__respect {
      text-align: center;
      color: $black;
      margin-bottom: 40px;
      @media (max-width: $max1280) {
         margin-bottom: 20px;
      }
   }
}
