$max1920: 1919.98px;
$max1280: 1279.98px;
$max1140: 1139.98px;
$max991: 990.98px;
$max768: 767.98px;
$max600: 599.98px;
$max425: 424.98px;
$min320: 320px;

$sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$white: #ffffff;
$whiteLight: #f2f2f2;
$gold: #a89365;
$blackLight: #1a1a1a;
$black: #232323;
$grey: #575757;
$greyLight: #f2f2f2;
$blue: #1d9cd8;
$blueLight: #8ecae4;

$transition: all 0.3s ease-in-out;
$transitionFast: all 0.1s ease;
$transitionLate: all 0.3s ease-in-out 0.1s;

* {
   &::selection {
      color: $white;
      background: #2f80ed;
   }
   //*scrollbar chrome
   &::-webkit-scrollbar {
      width: 8px;
      background-color: #f9f9fd;
      &-track {
         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
         border-radius: 2px;
         background-color: #f9f9fd;
      }
      &-thumb {
         border-radius: 2px;
         background-color: #2f80ed;
      }
   }

   //*scrollbar firefox
   scrollbar-color: #2f80ed $white;
   scrollbar-width: thin;
}

.body {
   font-family: GraphikLC-Regular, $sans;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.main {
   height: 100%;
   flex: 1 1;
}

.bold {
   font-family: GraphikLC-Semibold, $sans;
}

.link {
   color: inherit;
   white-space: nowrap;
   cursor: pointer;
   display: flex;
   align-items: center;
}
.input {
   border: none;
   background: inherit;
   display: flex;
   align-items: center;
   &::placeholder {
      color: inherit;
      font-size: inherit;
   }
}

.wrapper {
   width: 100%;
   max-width: $max1140;
   min-width: 320px;
   margin: 0 auto;
   padding: 0 30px;
   overflow: hidden;
   // @media (max-width: $max1920) {
   //    padding: 0 40px;
   // }
   // @media (max-width: $max1280) {
   //    padding: 0 20px;
   // }
   @media (max-width: $max1140) {
      padding: 0 24px;
   }
   @media (max-width: $max768) {
      padding: 0 10px;
   }
   // @media (max-width: $max600) {
   //    padding: 0 12px;
   // }
   &--intro {
      // padding: 0;
   }
   &--hello {
      padding: 0;
   }
}

.btn {
   font-family: GraphikLC-Semibold, $sans;
   display: flex;
   justify-content: center;
   align-items: center;
   // align-self: center;
   // padding: 16px 56px;
   border-radius: 1px;
   text-decoration: none;
   text-transform: uppercase;
   // transition: $transition;
   white-space: nowrap;
   border: none;
   @media (max-width: $max1920) {
      // padding: 12px 56px;
   }
   @media (max-width: $max1280) {
      // padding: 12px 28px;
   }
   // &--gold {
   //    color: $white;
   //    background: $gold;
   //    transition: $transition;
   //    &:hover {
   //       background: $blackLight;
   //    }
   // }
   // &--white {
   //    color: $gold;
   //    background: $white;
   //    border: 1px solid $gold;
   //    &:hover {
   //       color: $white;
   //       background: $gold;
   //       transition: $transition;
   //    }
   // }
}
